
ExceptionQueueService/.vs/ExceptionQueueService/DesignTimeBuild/

ExceptionQueueService/.vs/ExceptionQueueService/v16/

ExceptionQueueService/ExceptionQueueService.Client.Tester/bin/Debug/netcoreapp3.1/

ExceptionQueueService/ExceptionQueueService.Client/obj/Debug/netcoreapp3.1/

.vs/Exception Queue Service/v16/

.vs/

ExceptionQueueService/ExceptionQueueService.Client.Tester/obj/Debug/netcoreapp3.1/

ExceptionQueueService/ExceptionQueueService.Client/bin/Debug/netcoreapp3.1/

ExceptionQueueService/ExceptionQueueService.Client.Tester/obj/

*.cache

ExceptionQueueService/ExceptionQueueService.Client/obj/

/ExceptionQueueService/ExceptionQueueService.Client/bin/Debug
/ExceptionQueueService/ExceptionQueueService.Client/bin/Release
/ExceptionQueueService/ExceptionQueueService.Client.Tests/bin
/ExceptionQueueService/ExceptionQueueService.Client.Tests/obj
/ExceptionQueueService/ExceptionQueueService.Client.Tester/bin/Release/netcoreapp3.1
/ExceptionQueueService/ExceptionQueueService.Client.Test/obj
/ExceptionQueueService/ExceptionQueueService.Client.Test/bin/Debug/netcoreapp3.1

ExceptionQueueService/ExceptionQueueService/ExceptionQueueService\.RestApi/Properties/serviceDependencies\.json

ExceptionQueueService/ExceptionQueueService/ExceptionQueueService\.RestApi/Properties/serviceDependencies\.local\.json
/ExceptionQueueService/ExceptionQueueService.Client.Test/bin/Release/netcoreapp3.1
